* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-grid {
  display: grid;
  grid-template-columns: 250px;
  grid-template-areas:
    "sidenav principal"
    "footer footer";
  height: 100vh;
}

.imagelogo {
  display: flex;
  padding-left: 2px;
  align-items: center;
}

.imagelogo h1 {
  padding-top: 15px;
}

.sidenav {
  grid-area: sidenav;
  background-color: black;
  color: whitesmoke;
  padding: 0;
}

.sidenav h1 {
  font-size: bolder;
  padding-left: 8px;
  padding-bottom: 12px;
}

.button ul li {
  padding-left: 12px;
  padding-bottom: 20px;
}

.music ul li {
  padding-left: 12px;
  padding-top: 5px;
}

p {
  padding-left: 12px;
}

main {
  grid-area: principal;
  background-color: #0d0d0d;
}

.card-favoritas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  padding: 20px;
  justify-content: center;
}

main h1 {
  color: whitesmoke;
  font-size: bold;
  padding-bottom: 16px;
  padding-left: 12px;
  padding-top: 12px;
}

.card-musicas {
  color: white;
  background-color: #292929;
  display: flex;
  align-items: center;
  border-radius: 8px;
}

.card-musicas img {
  border-radius: 8px;
  padding: 0;
  margin: 0;
}

.card-musicas h3 {
  margin-left: 12px;
}

.card-vand {

  display: grid;
  grid-template-columns:169px 169px 169px 169px 169px 169px;
  gap: 40px;
  align-items: center;
  
}

.card-musicas-2{
color: white;
background-color: #292929;
align-items: center;
margin-left: 16px;

}

.card-musicas-2 img {
  
padding: 0;
margin: 0;
}

.card-musicas-2 h3{

  text-align: center;
}

footer {
  grid-area: footer;
  background-color: #292929;
  display: flex;
  color: whitesmoke;
  align-items:baseline;
}

footer img{
  padding-top: 12px;
  padding-left: 12px;
  height: 65px;
  width: 65px;
}

.footer-music{

  display: flex;
}

p #textoMusica{

  display: block;
}
