* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  
}

body {
  background-color: #0d0d0d;
  
}

.container-grid {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-areas:
    "sidenav principal";
  height: 100vh;
  padding-bottom: 100px; /* espaço pro footer */
}

.imagelogo {
  display: flex;
  align-items: center;
  padding-left: 8px;
}

.imagelogo h1 {
  padding-top: 15px;
  padding-left: 8px;
}

.sidenav {
  grid-area: sidenav;
  background-color: black;
  color: whitesmoke;
  padding: 10px 0;
  height: 100%;
  overflow-y: auto;
}

.sidenav h1 {
  font-weight: bold;
  padding-bottom: 12px;
}

.button ul li,
.music ul li {
  padding-left: 12px;
  padding-bottom: 10px;
  list-style: none;
}

p {
  padding-left: 12px;
}

main {
  grid-area: principal;
  padding: 20px;
}

main h1 {
  color: whitesmoke;
  font-size: 20px;
  margin-bottom: 16px;
}

.card-favoritas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  padding: 20px;
  justify-content: center;
}

.card-vand {
  display: grid;
  grid-template-columns:169px 169px 169px 169px 169px 169px;
  gap: 40px;
  align-items: center;
}

.card-musicas,
.card-musicas-2 {
  color: white;
  background-color: #292929;
  border-radius: 8px;
  overflow: hidden;
  padding: 10px;
}

.card-musicas {
  display: flex;
  align-items: center;
  gap: 10px;
}

.card-musicas img {
  width: 60px;
  height: 60px;
  border-radius: 6px;
  margin: 0;
  padding: 0;
}

.card-musicas h3 {
  margin-left: 12px;
}

.card-musicas-2 {
  margin-left: 16px;
  text-align: center;
}

.card-musicas-2 img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin: 0;
  padding: 0;
}

.card-musicas-2 h3 {
  text-align: center;
}

footer.footer-music {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80px;
  background-color: #181818;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 1000;
}

.footer-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.album-cover {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 4px;
}

.info-detalhes {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

.player-button button {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  margin: 0 5px;
  cursor: pointer;
}

.player-volume input[type="range"] {
  width: 100px;
  
}
